<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <meta name="robots" content="index, follow">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css"/>
    <!-- Stylesheets -->
    <link href="/assets/css/style.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> <!--TODO-->

    <!--Favicon-->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    <!--Script-->
    <script defer src="/assets/vendor/jQuery/jquery.min.js"></script>
    <script defer src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script defer src="/assets/js/script.js"></script>
  </head>

  <body>
    <header>
      {% block navbar %}
        <nav class="navbar navbar-expand-lg site-navigation">
          <div class="container">
            <a class="navbar-brand" href="/">
              <img class="logo" src="{{nav.navLogo}}" alt="Logo"/>
              <span class="name">Farmacia Moneghini</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#sitenavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="sitenavbar">
              <ul class="navbar-nav ml-auto main-nav">
                {% for navLink in nav.navLinks %}
                  <li class="nav-item">
                    <a class="nav-link" href="/{{navLink.url}}">{{navLink.label | capitalize}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
    </header>

    {% block content %}
      {{content | safe}}
    {% endblock %}

    {% block footer %}
      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="site-footer-widget">
                <h5 class="site-footer-widget-title">{{footer.contactsHeading}}</h5>
                <p class="site-footer-widget-description">
                  {% for contactInfo in footer.contactsInfo %}
                    <a href="{{contactInfo.link}}">{{contactInfo.text | safe}}</a>
                    <br>
                    <br>
                  {% endfor %}
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="site-footer-widget">
                <h5 class="site-footer-widget-title">{{footer.siteMapHeading}}</h5>
                <ul class="site-footer-widget-links">
                  {% for siteMap in footer.siteMap %}
                    <li>
                      <a href="/{{siteMap.link}}">{{siteMap.text}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="site-footer-widget">
                <h5 class="site-footer-widget-title">{{footer.socialHeading}}</h5>
                <ul class="site-footer-widget-links">
                  {% for socialMedia in footer.socialMedia %}
                    <li>
                      <a href="/{{socialMedia.link}}">{{socialMedia.text}}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="site-footer-widget">
                <h5 class="site-footer-widget-title">{{footer.brandHeading}}</h5>
                <p class="site-footer-widget-description">
                  {% for brandMotto in footer.brandMotto %}
                    -
                    {{brandMotto}}
                    <br>
                  {% endfor %}
                </p>
              </div>
            </div>
            <div class="col-lg-2 col-12">
              <a href="#top" class="site-footer-widget-top">
                <img src="{{footer.back2topIcon}}" alt="back-to-top">
                <p>
                  {{footer.customerComment}}
                </p>
              </a>
            </div>
            <div class="col-12">
              <div class="site-footer-copyright text-center my-3">
                <p>© Copyright 2025 - All Rights Reserved by Farmacia Moneghini</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    {% endblock %}
  </body>
</html>