{% extends "base.njk" %}

{% block content %}

    <section class="site-contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5">
            <h1 class="site-contact-title">
              Farmacia Moneghini di Attimis<br/><span>{{subTitle}}</span>
            </h1>
          </div>

          
          <div class="col-lg-6 ml-auto">
            <div class="site-contact-form">
              <h4>{{formTitle}}</h4>
              <form method="POST" action="/contact-us.php">
                <div class="row">
                  <div class="col-lg-6">
                    <input required type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
                  </div>
                  <div class="col-lg-6">
                    <input required type="text" class="form-control" name="cognome" id="cognome" placeholder="Cognome">
                  </div>
                  <div class="col-lg-6">
                    <input required type="email" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                  {# <div class="col-lg-6">
                    <div class="select-wrapper">
                      <select class="form-control" id="projectType">
                        <option value="" selected disabled hidden>Project Type</option>
                        <option value="gd">Graphics Design</option>
                        <option value="wb">Web Design</option>
                      </select>
                    </div>
                  </div> #}
                  <div class="col-12">
                    <textarea required name="messaggio" class="form-control" id="aboutProject" rows="6" placeholder="Scrivi qui il tuo messaggio..."></textarea>
                  </div>

                  <div class="col-12">
                    <input type="checkbox" id="privacy" name="privacy" required>
                    <label for="privacy">Dichiaro di aver letto l'informativa sulla privacy ed esprimo il mio consenso al trattamento dei dati per le finalità indicate</label>
                  </div>

                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                      <span class="btn-area">
                        <span data-text="{{btnText}}">
                          {{btnText}}
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
              {# <p class="contact-form-generator mt-3">
                <strong>** </strong><a href="https://fabform.io/" target="_blank">Static website forms</a>
              </p> #}
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
{% block workTogether %}{% endblock %}
