{% extends "base.njk" %}

{% block content %}

<section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-hero-content text-center confirm">
              <h3 class="confirm">Email inviata!</h3>
              <p>
                 Ti ricontatteremo presto... <br>Per ogni evenienza tieni a mente il nostro numero: <em>0432-789039</em> 
                <br>
                <br>
              </p>
              <ul class="site-hero-content-buttons">
                <li>
                  <a href="/servizi" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{hero.seeWorkBtn.text}}">
                        Visualizza i nostri Servizi
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/" class="btn btn-primary">
                    <span class="btn-area">
                      <span data-text="{{hero.connectBtn.text}}">
                        Torna in Home Page
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  
{% endblock %}