{% extends "base.njk" %}

{% block content %}

<section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-hero-content text-center error">
              <h6 class="error">C'è stato un errore nell'invio della email</h6>
              <h1>
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              <ul class="site-hero-content-buttons">
                {# <li>
                  <a href="{{hero.seeWorkBtn.link}}" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{hero.seeWorkBtn.text}}">
                        {{hero.seeWorkBtn.text}}
                      </span>
                    </span>
                  </a>
                </li> #}
                <li>
                  <a href="/" class="btn btn-primary">
                    <span class="btn-area">
                      <span data-text="{{hero.connectBtn.text}}">
                        Torna in Home Page
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  
{% endblock %}