{% extends "base.njk" %}

{% block content %}

    <section class="site-hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="site-hero-content text-center">
              <h6>{{hero.subTitle}}</h6>
              <h1>
                {{hero.title.firstPara}}
                <br>
                {{hero.title.secondPara}}
              </h1>
              <ul class="site-hero-content-buttons">
                <li>
                  <a href="{{hero.seeWorkBtn.link}}" class="btn btn-secondary scroll-to">
                    <span class="btn-area">
                      <span data-text="{{hero.seeWorkBtn.text}}">
                        {{hero.seeWorkBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="/{{hero.connectBtn.link}}" class="btn btn-primary">
                    <span class="btn-area">
                      <span data-text="{{hero.connectBtn.text}}">
                        {{hero.connectBtn.text}}
                      </span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a href="#counter" class="site-hero-scroll scroll-to">
        <img src="/assets/images/arrow-down.svg" alt="arrow-down">
      </a>
    </section>

    {# <section class="site-counter" id="counter">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2 class="text-white">{{achieve.title | safe}}</h2>
            </div>
          </div>
          {% for achievement in achieve.achievements %}
          <div class="col-lg-3 col-md-6">
            <div class="site-counter-item">
              <span class="site-counter-item-title">{{achievement.title}}</span>
              <h3 class="site-counter-item-number">{{achievement.counter}}+</h3>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section> #}

    <section class="site-testimonial" id="fastlinks">
      <div class="container">
        {# <div class="row">
          <div class="col-6">
            <img src="/assets/images/la-farmacia.webp" alt="La Farmacia: Ferdinando e Sara">
          </div>
          <div class="col-6">
            Hai una domanda o un’urgenza? Contattaci subito al numero 0432-789039: il nostro team è a disposizione per offrirti assistenza rapida e risposte chiare.
          </div>
        </div>  #}
        <div class="row">
          {# <div class="col-12">
            <div class="section-title">
              <h2>
                {{testimonials.title}}
              </h2>
              <p>
                {{testimonials.des}} 
              </p>
            </div>
          </div> #}
          {% for opinion in testimonials.opinion %}
          <div class="col-lg-4 col-md-6">
            <div class="site-testimonial-item">
              <div class="site-testimonial-item-header">
                <div class="thumb">
                  <i class="fa {{opinion.icon}}"></i>
                </div>
                <div class="person">
                  {# <h5>{{opinion.name}}</h5> #}
                  <a href="{{opinion.url}}" class="btn btn-secondary scroll-to">{{opinion.dig}}</a>
                </div>
              </div>
              <p class="site-testimonial-item-body">
                {{opinion.comment | safe}}
              </p>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="site-testimonial" id="hours">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                I nostri orari
              </h2>
              <p>
                Consulta gli orari di apertura: siamo sempre al tuo fianco per garantirti farmaci, consulenze e servizi quando ne hai più bisogno.
              </p>
            </div>
          </div>
          <div class="col-12">
            <table border="1" cellpadding="8" cellspacing="0"  class="orari">
              <thead>
                <tr>
                  <th>Giorno</th>
                  <th>Orari</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lunedì</td>
                  <td>08:30 - 12:30 &nbsp; | &nbsp; 15:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Martedì</td>
                  <td>08:30 - 12:30 &nbsp; | &nbsp; 15:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Mercoledì</td>
                  <td>08:30 - 12:30 &nbsp; | &nbsp; 15:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Giovedì</td>
                  <td>08:30 - 12:30 &nbsp; | &nbsp; 15:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Venerdì</td>
                  <td>00:00 - 12:30 &nbsp; | &nbsp; 15:00 - 19:00</td>
                </tr>
                <tr>
                  <td>Sabato</td>
                  <td>Chiuso</td>
                </tr>
                <tr>
                  <td>Domenica</td>
                  <td>Chiuso</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </section>

    <section class="site-testimonial" id="map">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                Dove ci troviamo
              </h2>
              <p>
                Ci troviamo in: <em>via Cividale, 26 Attimis (UD)</em>. <br>
                Scopri come raggiungerci facilmente: la nostra farmacia è vicina a te, pronta ad accoglierti con professionalità e disponibilità.
              </p>
            </div>
          </div>
          <div class="col-12">
            <div class="mappa">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2762.1987446180756!2d13.3017306558857!3d46.18660359679336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477a4817272df529%3A0x939c7a785ff4f840!2sVia%20Cividale%2C%2026%2C%2033040%20Attimis%20UD!5e0!3m2!1sit!2sit!4v1759387703254!5m2!1sit!2sit" width="320" height="240" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    {# <section class="site-testimonial" id="events">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                Prossimi eventi
              </h2>
              <p>
                Organizzaimo spesso eventi legati alla salute e alla prevenzione, rimani aggiornato sulle nostre iniziative!
              </p>
            </div>
          </div>
          {% for blogpost in posts %}
          <div class="col-lg-6">
            <article class="site-blog-post">
              <div class="site-blog-post-thumb">
                <img src="{{blogpost.data.img}}" alt="post-thumb">
              </div>
              <div class="site-blog-post-content">
                <span>{{blogpost.data.postDate}}</span>
                <h3><a href="{{blogpost.data.page.url}}">{{blogpost.data.title}}</a></h3>
                <p>
                  {{blogpost.data.des}}
                </p>
                <a href="{{blogpost.data.page.url}}" class="read-more">{{blogpost.data.btnText}}</a>
              </div>
            </article>
          </div>
          {% endfor %}
          <a href="/eventi" class="btn btn-secondary allevents">
            <span class="btn-area">
              <span data-text="Tutti gli eventi">
                Vedi tutti gli eventi
              </span>
            </span>
          </a>
        </div>
      </div>
    </section> #}

    <section class="site-testimonial" id="fotovoltraico">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                Contributi fotovoltaico<br> Friuli-Venezia Giulia
              </h2>

            </div>
          </div>

          <div class="col-12">
            <a download href="/assets/images/fotovoltaico-preview.webp" title="Scarica i poster completo dei contributi per il fotovoltaico">
              <img id="fotovoltaico" src="/assets/images/fotovoltaico-preview.webp" alt="Contributi fotovoltaico - Friuli-Venezia Giulia">
            </a>
          </div>

        </div>
      </div>
    </section>
  
{% endblock %}